@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form method="post" action="/home/gonder">
    <label>Ad</label>
    <input name="Ad" type="text" />
    <br />
    <label>Soyad</label>
    <input name="Soyad" type="text" />
    <br />
    <label>Mail</label>
    <input name="Mail" type="text" />
    <br />
    <label>Telefon</label>
    <input name="Telefon" type="text" />
    <br />
    <label>Yaş</label>
    <input name="Yas" type="text" />
    <br />
    <input type="submit" value="Gönder" />
</form>