@model  Product
@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Yeni Duyuru</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/admin/products/create" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Name" name="Name" autocomplete="off" required="required" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Description" name="Description" />
                                <script>
                                    var myEditor;

                                    ClassicEditor
                                        .create(document.querySelector('#Description'))
                                        .then(editor => {
                                            console.log('Editor was initialized', myEditor = editor);
                                        })
                                        .catch(err => {
                                            console.error(err.stack);
                                        });
                                    myEditor.getContent();
                                </script>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">UnitsInStock</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="UnitsInStock" name="UnitsInStock" min="0" max="1000" step="1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">UnitPrice</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="UnitPrice" name="UnitPrice" min="0" max="10000000" step="0.01" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SalePrice</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="SalePrice" name="SalePrice" min="0" max="10000000" step="0.01" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">CategoryNo</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.CategoryNo, (List<SelectListItem>)ViewBag.dgr)
                            </div>
                        </div>              
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">İmage</label>


                            <div class="col-sm-10">
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                @ViewBag.Message

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-dark" href="/admin/products" style="float:left">İptal</a>
                                <input class="btn btn-primary" type="submit" value="Kaydet" style="float:right" />
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

