@model  Category
    @{
        ViewBag.Title = "New";
        Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
    }

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Yeni Duyuru</h1>
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="/admin/categories/create">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Başlık</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Name" name="Name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="Color" name="Color"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-dark" href="/admin/categories" style="float:left">İptal</a>
                                    <input class="btn btn-primary" type="submit" value="Kaydet" style="float:right" />
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
